asgiref==3.4.1
astroid==2.7.3
autopep8==1.5.7
bidict==0.21.4
certifi==2021.5.30
click==8.0.3
Django==3.2.9
dnspython==2.1.0
eventlet==0.33.0
Flask==2.0.2
Flask-HTTPAuth==4.4.0
Flask-Login==0.5.0
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
platformdirs==2.3.0
pycodestyle==2.7.0
pylint==2.10.2
python-engineio==4.3.0
python-socketio==5.5.0
pytz==2021.3
six==1.16.0
SQLAlchemy==1.4.27
sqlparse==0.4.2
toml==0.10.2
Werkzeug==2.0.2
wrapt==1.12.1
