{% extends 'base.html' %}
{% block stylesheet %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock %}

{% block content %}

<div id ="top-bar">
	<span><h1>COMP 446</h1></span>
</div>



<div id="side-bar">
	<ul>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>
		<li><img class="profile-pic" src="/static/person.jpg" alt="profile pic"></li>

	</ul>
</div>
<div id="invite">
	<input type="button" id="invite-button" value="Invite">
</div>


{% endblock %}
